.list {
  min-width: 50vw;
  max-height: 35vh;
  list-style: none;
  padding: 0;
  overflow-y: scroll;
}

.item {
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  margin-bottom: 13px;
  cursor: pointer;
  background-color: white;
  color: black;
}

.item span {
  margin-right: 40px;
}
