.model {
  width: 30vw;
  color: black;
}

.model header {
  text-align: center;
}

.model header h2 {
  margin-top: 0;
  font-size: 2rem;
  text-transform: uppercase;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.background {
  background: rgb(255, 255, 255);
}
