.wrapper {
  padding-bottom: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .group {
    display: flex;
    align-items: center;
  }

  & .label {
    color: #555758;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
  }

  & .icon {
    color: #555758;
    font-size: 18px;
    margin-right: 20px;
  }
}

.input {
  flex: 1;
  border: 1px solid rgba(74, 73, 73, 0.449);
  outline: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  background-color: transparent;
}
